<div class="{{pageIndicator}}">
    <navbar></navbar>

    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('../assets/img/examples/city.jpg');"></div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="profile">
                            <div class="avatar">
                                <img src="{{user.photoUrl}}" alt="Profile Image" class="img-rounded img-responsive img-raised">
                            </div>
                            <div class="name">
                                <h2>{{user.userName}}</h2>
                                <h5>{{user.fullName}}</h5>
                                <h6>{{user.city}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="description text-center">
                        <div class="challenge-box-profile">
                            <i class="material-icons">stars</i><h5>Karma: {{user.karma}}</h5>
                            <i class="material-icons">update</i><h5>Completed challenges: CHALLENGES.LENGTH</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h2>your challenges</h2>
                            <div ng-repeat="currentChallenge in currentChallenges" class="challenge-box-profile">
                                <h4>{{currentChallenge.challenge.title}}</h4>
                                <div>
                                    <i class="material-icons">stars</i> {{currentChallenge.challenge.karma}} karma &nbsp;
                                    <i class="material-icons">date_range</i> {{currentChallenge.challenge.time}} days &nbsp;
                                    <i class="material-icons">favorite</i> {{currentChallenge.challenge.likes}} &nbsp;
                                    <i class="material-icons">update</i> {{currentChallenge.challenge.times_taken}} &nbsp;&nbsp;&nbsp;
                                    <a ng-if="currentChallenge.state === 'active' || currentChallenge.state === 'waiting'" href="#!/challenges/current/{{currentChallenge._id}}">
                                        <button class="btn btn-primary btn-round">
                                            visit
                                        </button>
                                    </a>
                                    <a ng-if="currentChallenge.state === 'completed'" href="#!/challenges/current/{{currentChallenge._id}}">
                                        <button class="btn btn-success btn-round">
                                            completed
                                        </button>
                                    </a>
                                    <a ng-if="currentChallenge.state === 'failed' || currentChallenge.state === 'abandoned'" href="#!/challenges">
                                        <button class="btn btn-danger btn-round">
                                            no worries... try another
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>