<div class="{{$ctrl.page}}">
    <navbar></navbar>

    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('../assets/img/examples/city.jpg');"></div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="profile">
                            <div class="avatar">
                                <img src="../assets/img/tk_ff_1.jpg" alt="Circle Image" class="img-rounded img-responsive img-raised">
                            </div>
                            <div class="name">
                                <h2>{{$ctrl.user.userName}}</h2>
                                <h5>{{$ctrl.user.fullName}}</h5>
                                <h6>{{$ctrl.user.city}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="description text-center">
                        <div class="challenge-box-profile">
                            <i class="material-icons">stars</i><h5>Karma: {{$ctrl.user.karma}}</h5>
                            <i class="material-icons">update</i><h5>Completed challenges: CHALLENGES.LENGTH</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h2>happening now</h2>
                            <div class="challenge-box-profile">
                                <h4>Walk to work</h4>
                                <div>
                                    <i class="material-icons">stars</i> 50 karma &nbsp;
                                    <i class="material-icons">date_range</i> 7 days &nbsp;
                                    <i class="material-icons">favorite</i> 4 &nbsp;
                                    <i class="material-icons">update</i> 5 &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-primary btn-round">
                                        check out
                                    </button>
                                </div>
                            </div>
                            <div class="challenge-box-profile">
                                <h4>Do sports in the green every weekend</h4>
                                <div>
                                    <i class="material-icons">stars</i> 50 karma &nbsp;
                                    <i class="material-icons">date_range</i> 7 days &nbsp;
                                    <i class="material-icons">favorite</i> 4 &nbsp;
                                    <i class="material-icons">update</i> 5 &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-primary btn-round">
                                        check out
                                    </button>
                                </div>						</div>
                            <div class="challenge-box-profile">
                                <h4>The No Shopping Month</h4>
                                <div>
                                    <i class="material-icons">stars</i> 50 karma &nbsp;
                                    <i class="material-icons">date_range</i> 7 days &nbsp;
                                    <i class="material-icons">favorite</i> 4 &nbsp;
                                    <i class="material-icons">update</i> 5 &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-primary btn-round">
                                        check out
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h2>completed challenges</h2>
                            <div class="challenge-box-profile">
                                <h4>Walk to work</h4>
                                <div>
                                    <i class="material-icons">stars</i> 50 karma &nbsp;
                                    <i class="material-icons">date_range</i> 7 days &nbsp;
                                    <i class="material-icons">favorite</i> 3 &nbsp;
                                    <i class="material-icons">update</i> 5 &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-success btn-round">
                                        completed
                                    </button>
                                </div>
                            </div>
                            <div class="challenge-box-profile">
                                <h4>Do sports in the green every weekend</h4>
                                <div>
                                    <i class="material-icons">stars</i> 50 karma &nbsp;
                                    <i class="material-icons">date_range</i> 7 days &nbsp;
                                    <i class="material-icons">favorite</i> 3 &nbsp;
                                    <i class="material-icons">update</i> 5 &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-success btn-round">
                                        completed
                                    </button>
                                </div>
                            </div>
                            <div class="challenge-box-profile">
                                <h4>The No Shopping Month</h4>
                                <div>
                                    <i class="material-icons">stars</i> 50 karma &nbsp;
                                    <i class="material-icons">date_range</i> 7 days &nbsp;
                                    <i class="material-icons">favorite</i> 3 &nbsp;
                                    <i class="material-icons">update</i> 5 &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-success btn-round">
                                        completed
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>